.navbar-style{


  background-color: rgb(223,199,168);
}

.logo-img-style{

  height:50px;
  width:50px;

}
.logo-text-style{

 
  margin: -21px 0px 0px 0px;
}


*{
font-family: 'Times New Roman', Times, serif;
}

.p-style{
  text-align: justify;
}


main{
  min-height: 80vh;
}

footer{
  background-color: rgb(223,199,168);
  padding: 10px;
  margin-top: 6 rem;
}

marquee{
  margin-top: 1 rem;
  font-size: 1.5rem;
}

.EmployeeDetailsPage{
  text-align: center;
}

.container {
  padding: 20px;
  background-color: #f0f0f0;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #d0d0d0;
}